<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 30%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<p>Tweets</p>

<ul>
    {% for tweet in tweets %}
        <li>{{ forloop.counter }}. {{ tweet|safe }}</li>
        <hr>
    {% endfor %}
</ul>

<div id="map"></div>
<script>
    function initMap() {
        var locations = "{{ labels }}";

        var marker, i;

        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: myLatLng
        });

        marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWjpxWcX3we18VFBKFh5p2Ji0Qw3sG3dY&callback=initMap">
</script>
</body>
</html>